*{
    margin:0px;
    padding:0px;    
    /*outline: 1px solid red;*/
}
body{
    font-family: 'Gabarito', sans-serif;
    margin:auto;
    flex-wrap:wrap;
}
.navbar{
    display:flex;
    justify-content: space-between;
    padding:10px;
    border-bottom: solid rgb(175, 174, 174) 1px;
    gap:10px;
    align-items: center;
    position:sticky;
    top:0;
    background-color: white;
    z-index:2;

}
.navbar-s1_title{
    color:#A435F0;
    font-weight: lighter;
}
.navbar-s2{
    border:solid gray 2px;
    padding:10px;
    width: 60%;
    border-radius: 30px;
    display: flex;
    gap:10px;
    align-items:center;
}
.navbar-s2 input{
    border:none;
    font-size:16px;
    width:100%;
    background-color: transparent;
}
.navbar-s2 input:focus{
    outline:none;
}
.navbar-s2:hover{
    border:solid #A435F0 2px;
}
.navbar-s2:focus-within{
    border:#A435F0 solid 2px;
}
.navbar-s3{
    display:flex;
    flex-direction:row;
    gap:25px;
    align-items:center;
}
.navbar-s3_contents{
    font-size:18px;
}
.navbar-s3_contents:hover{
    color:#A435F0;
    cursor:pointer;
}
.mylearning{
    position: relative;
}
.mylearning_popup{
     position: absolute;
     width:100px;
     padding:10px;
     text-align: center;
     border: solid black 1px;
     right:0;
     background-color: white;
     display:none;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}
.mylearning:hover .mylearning_popup{
    display:block;
}
.navbar-s3_icon{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:10px;
}
.categories{
    display:flex;
    flex-direction:row;
    border-bottom: solid rgb(175, 174, 174) 1px;
    padding: 10px;
    justify-content:space-around;
    
}
.categories p{
    background-color:#A435F0;
    padding:10px;
    border-radius: 20px;
    color:white;
    cursor:pointer;
}
.categories p:hover{
    background-color: #d29cf7;
    color:#A435F0
}
.categories p:active{
    background-color: #A435F0;
    color:white;
}
.sale-image img{
    width:100%;
}
.sale-image{
    position:relative;
}
.sale-image_ad{
    position:absolute;
    top: 25%;
    z-index:1;
    left:30px;
    background-color: white;
    padding: 20px;
    border:solid black 1px;
    width:400px;
    height:150px;
}
.sale-image_ad h1{
    font-weight: 300;
    margin-bottom:7px;
}
.sale-image_ad p{
    font-size:16px;
}
.recommended{
    padding:10px;
    flex-wrap: wrap;
}
/*.recommended_title,.recommended_instruction{
    margin-left:10px;
}*/
.recommended_container{
    display:flex;
    justify-content: space-between;
}
.course_card{
    width:20%;
    margin:10px;
    cursor:pointer;
    padding: 15px;
    border:white solid 1px;
}
.course_card:active{
    color:#A435F0;
}
.course_card img{
    width:100%;
    height:50%; 
}
del{
    margin-left:10px;
}
.topics{
    padding:10px;
}
.topics_container{
    display:flex;
    gap: 10px;
    flex-wrap:wrap;
}
.topics_container p{
    border:solid gray 2px;
    margin-top: 10px;
    padding:10px;
    flex-grow:3;
    flex-basis:25%;
    font-size:20px;
}
.topics_container p:hover{
    border:solid #A435F0 2px;
    background-color: #e4caf5;
    cursor:pointer;
}
.popular{
    padding:10px;
}
.popular-container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 4;
    flex-basis:15%;
}
.footer{
    padding:10px;
    background-color: black;
    color:white;
}
.footer-s1{
    display:flex;
    font-size:20px;
}
.footer-s1 p{
    margin:20px;
    cursor:pointer;

}
.footer-s1-two{
    margin-left:20px;
}
.footer-s2{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}



